<section class="customer-logos slider">
      <div class="slide"><img src="/img/career/1.png" alt="Netflix Logo"></div>
      <div class="slide"><img src="/img/career/2.png" alt="BMW Logo"></div>
      <div class="slide"><img src="/img/career/3.png" alt="ZF Friedrichshafen Logo"></div>
      <div class="slide"><img src="/img/career/4.png" alt="Audi Logo"></div>
      <div class="slide"><img src="/img/career/5.png" alt="Liberty Global Logo"></div>
      <div class="slide"><img src="/img/career/6.png" alt="Telekom Logo"></div>
      <div class="slide"><img src="/img/career/7.png"></div>
      <div class="slide"><img src="/img/career/8.png" alt="ecarx Logo"></div>
      <div class="slide"><img src="/img/career/9.png"></div>
</section>

<script src="/js/carousel.js" type="text/javascript"></script>
<script src="/vendor/slick/slick.js"></script>
<link href="/css/infinite-slider.css" rel="stylesheet"> 

