<section class="customer-logos slider">
      <div class="slide"><a href="/case-studies/bmw-mobility-services/" alt="BMW Case Study" title="BMW Case Study"><img src="/img/customer-logos/bmw.gif" alt="BMW Logo"></a></div>
      <div class="slide"><a href="/case-studies/zf-friedrichshafen/" alt="ZF Friedrichshafen Case Study" title="ZF Friedrichshafen Case Study"><img src="/img/customer-logos/zf.gif" alt="ZF Friedrichshafen Logo"></a></div>
      <div class="slide"><img src="/img/customer-logos/audi.gif" alt="Audi Logo"></div>
      <div class="slide"><a href="/case-studies/liberty-global/" alt="Liberty Global Case Study" title="Liberty Global Case Study"><img src="/img/customer-logos/liberty-global.gif" alt="Liberty Global Logo"></a></div>
      <div class="slide"><a href="/case-studies/daimler/" alt="Mercedes Benz Case Study" title="Mercedes Benz Case Study"><img src="/img/customer-logos/mercedes-benz.png" alt="Mercedes Benz Logo"></a></div>
      <div class="slide"><a href="/case-studies/telekom-design-gallery/" alt="Telekom Case Study" title="Telekom Case Study"><img src="/img/customer-logos/telekom.gif" alt="Telekom Logo"></a></div>
      <div class="slide"><a href="/case-studies/swm-munich-transit-system/" alt="Stadtwerke Muenchen Case Study" title="Stadtwerke Muenchen Case Study" alt="Stadtwerke Muenchen Logo"><img src="/img/customer-logos/swm.gif"></a></div>
      <div class="slide"><a href="/case-studies/ecarx/" alt="ECARX Case Study" title="Acer BYOC Case Study"><img src="/img/customer-logos/ecarx.gif" alt="ecarx Logo"></a></div>
      <div class="slide"><img src="/img/customer-logos/sirius-xm.gif"></div>
</section>
<p style="float: right; margin: 20px 5%;"><img src="/img/svg/fa-grid.svg" style="height: 18px; width:22px; position: relative; top: 3px;"><a href="/customers/" alt="View All Customers"> View all customers</a></p>
<script src="/js/carousel.js" type="text/javascript"></script>
<script src="/vendor/slick/slick.js"></script>
<link href="/css/infinite-slider.css" rel="stylesheet"> 

