<article id="cloud-pricing-boxes">
    <!-- Serverless pricing box start -->
    <div class="default-pricing-box cloud">
        <div class="default-pricing-box-top cloud">
            <h2>Serverless</h2>
            <div class="underline"></div>
            <h3>Free</h3>
            <a href="{{ .Get `UTM-serverless` }}" target="_blank"><button class="pricing-btn-blue" style="margin: 18px 0 0 0;">Sign Up Free</button></a><br/>
            <!--form action="{{ .Get `UTM-link-serverless` }}" target="_blank"><button class="pricing-btn-blue" style="margin: 18px 0 0 0;">Sign Up Free</button></form-->
            <span class="details-small-font">No credit card required</span>
        </div>
        <div class="default-pricing-box-middle cloud">
            <p>A basic MQTT broker designed for learning and experimenting with MQTT.</p>
            <h4>A great place to play</h4>
            <ul>
                <li>Multi-tenant MQTT broker</li>
                <li>100 connections free</li>
                <li>No uptime SLA</li>
                <li>Community supported</li>
            </ul>
        </div>
        <div class="default-pricing-box-bottom cloud">
            <!--a href="#"><sup>*</sup>Estimate Costs</a-->
        </div>
    </div>
    <!-- Serverless pricing box end -->
    <!-- Starter pricing box start -->
    <div class="default-pricing-box recommended-pricing cloud">
        <div class="recommended-pricing-bar cloud">RECOMMENDED</div>
        <div class="default-pricing-box-top recommended-pricing cloud">
            <h2>Starter</h2>
            <div class="underline"></div>
            <span style="font-size: 14px;">Starting from</span><span style="font-size: 18px; font-weight: bold;"> $0.34/hour<sup>*</sup></span><br>
            <span class="details-small-font">+ $0.80/million messages</span><br>
            <a href="{{ .Get `UTM-starter` }}" target="_blank"><button class="pricing-btn-yellow" style="margin: 18px 0 0 0;">Try with Free Credits</button></a><br/>
            <!--form action="{{ .Get `UTM-link-starter` }}" target="_blank"><button class="pricing-btn-yellow" style="margin: 5px 0 0 0;">Sign Up Free</button></form-->
            <span class="details-small-font">Sign up and get $100 in credits</span>
        </div>
        <div class="default-pricing-box-middle recommended-pricing cloud">
            <p>Complete MQTT platform for testing and small-scale production.</p>
            <h4>A great place to start</h4>
            <ul>
                <li>Single-tenant MQTT platform</li>
                <li>No fees for connections</li>
                <li>99.95% uptime with Multi-AZ</li>
                <li>Up to 24/7 Support</li>
            </ul>
        </div>
        <div class="default-pricing-box-bottom recommended-pricing cloud">
            <!--a href="#"><sup>*</sup>Estimate Costs</a-->
        </div>
    </div>
    <!-- Starter pricing box end -->
    <!-- Professional pricing box start -->
    <div class="default-pricing-box cloud">
        <div class="default-pricing-box-top cloud">
            <h2>Professional</h2>
            <div class="underline"></div>
            <span style="font-size: 14px;">Starting from</span><span style="font-size: 18px; font-weight: bold; margin-bottom: -5px"> $0.57/hour<sup>*</sup></span><br>
            <span class="details-small-font">+ $0.80/million messages</span>
            <form action="/contact-sales-cloud-pro/" target="_blank"><button class="pricing-btn-blue" style="margin: 0;">Join the Waitlist</button></form>
        </div>
        <div class="default-pricing-box-middle cloud">
            <p>Production-ready, complete MQTT platform for scalable workloads.</p>
            <h4>Everything in Starter, plus</h4>
            <ul>
                <li>Deep observability</li>
                <li>Advanced management</li>
                <li>Enhanced security</li>
                <li>24/7 Support available</li>
            </ul>
        </div>
        <div class="default-pricing-box-bottom cloud">
            <!--a href="#"><sup>*</sup>Estimate Costs</a-->
        </div>
    </div>
    <!-- Professional pricing box end -->
    <!-- Enterprise pricing box start -->
    <div class="default-pricing-box cloud">
        <div class="default-pricing-box-top cloud">
            <h2>Enterprise</h2>
            <div class="underline"></div>
            <h3>Custom pricing</h3>
            <form action="/contact-sales-cloud-enterprise/" target="_blank"><button class="pricing-btn-blue" style="margin: 17px 0 0 0;">Contact Sales</button></form>
        </div>
        <div class="default-pricing-box-middle cloud">
            <p>Fully customizable MQTT platform for sophisticated workloads.</p>
            <h4>Everything in Professional, plus</h4>
            <ul>
                <li>Dedicated infrastructure</li>
                <li>Custom systems integration</li>
                <li>Any region</li>
                <li>Dedicated CSM with 24/7 Support</li>
            </ul>
        </div>
        <div class="default-pricing-box-bottom cloud"></div>
    </div>
    <!-- Enterprise pricing box end -->
</article>