<h3>Need Help?</h3>

We're always happy to answer any questions you may have during installation. The best place to get in contact is our <a href="https://community.hivemq.com/c/hivemq-extensions" target="_blank">community forum</a>.

<h3>Contact Sales</h3>

If you have any questions about this product or any others, please contact our sales team <a href="/contact">here</a>.

<br /><br /><a href="/extensions/"><img src="/img/svg/fa-grid.svg" style="height: 16px; position: relative; top: 2px;" /> Back to marketplace</a>