<a href="/download-mqtt-ebook/" title="MQTT Essentials eBook">
    <section class="floating-banner">
        <div style="margin-right: 10px;">
            <img src="/img/mqtt-ebook-cover.jpg"/>
        </div>
        <div>
            <h3 style="font-size: 18px; line-height: 20px; margin-top: 10px;">Get the MQTT Essentials eBook</h3>
            <p style="font-size: 14px; line-height: 16px; font-weight: 300; margin-top: 5px;">72 pages of MQTT education and learning for beginners and experts alike.</p>
            <button class="btn-grey-outline" id="floatingCTA">Get eBook</button>
        </div>
    </section>
</a>