<ul>
    <li><form action="/pricing"><button class="header-yellow-btn" style="margin: 5px 10px 0 0;">Get Started</button></form></li>
    <li class="hover-text">
        <a
                class="header__cta-login-icon"
                href="https://console.hivemq.cloud/?utm_source=mega+menu&utm_medium=cloud+icon&utm_campaign=HiveMQ+Cloud+PaaS"
        >
            <svg
                    width="27"
                    height="18"
                    viewBox="0 0 27 18"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
            >
                <path
                        d="M16.1333 1C13.7069 1 11.9278 2.42845 11.0958 4.11443C10.8486 4.60559 10.2556 4.80121 9.76944 4.55212C8.7625 4.04266 7.54861 4.11303 6.60278 4.68722C5.65695 5.26282 4.94722 6.30566 4.94722 8.00009C4.94444 8.48562 4.59722 8.89797 4.125 8.97959C2.32639 9.28499 1 11.1483 1 13.0003C1 15.2296 2.69167 17 5.60556 17H21.7236C24.0972 17 26 15.0719 26 12.6668C26 10.5516 24.5181 8.79664 22.5569 8.40681C22.0528 8.31252 21.7042 7.84106 21.7556 7.32316C22.0667 4.21717 19.6486 1 16.1319 1H16.1333Z"
                        stroke="white"
                        stroke-width="2"
                        stroke-miterlimit="10"
                />
            </svg>
            <span class="tooltip-text tooltip-cloud tooltip-top">Sign In</span>
        </a>
    </li>
    <li class="hover-text">
        <a class="header__cta-newsletter-icon"
           href="/contact"
        >
            <svg xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 24 17.3"
                 fill="none">
                <rect x=".5" y=".5" width="23" height="16.3" rx="1" ry="1"
                      stroke="white"
                      stroke-width="2"
                      stroke-miterlimit="10"/>
                <polyline points=".5 3.13 11.12 9.69 12 9.86 12.88 9.69 23.5 3.13"
                          stroke="white"
                          stroke-width="2"
                          stroke-miterlimit="10"/>
            </svg>
            <span class="tooltip-text tooltip-contact tooltip-top">Contact Us</span>
        </a>
    </li>
</ul>