{{ define "main" }}
<script type="text/javascript" src="/js/pagination.js"></script>
<section id="blog-list">
        <h1>Welcome to our Articles</h1>
        {{ partial "algolia-search-box" . }}
        <div class="clearfix"></div>
        <div class="post-preview">
        {{ $paginator := .Paginate (where .Site.RegularPages "Section" "article") 36 }}
        {{ range $paginator.Pages }}
        {{ partial "list-overview-item" . }}
        {{ end }}
        </div>
        <div style="margin-top: 50px;">{{ template "_internal/pagination.html" . }}</div>
</section>
{{ end }}
