<li>
    <p class="subMenu__header">By Industry</p>
    <ul>
      <li><a class="subMenu_link" href="/solutions/connected-cars/">Connected Cars</a></li>
      <li><a class="subMenu_link" href="/solutions/automotive-manufacturing/">Automotive Manufacturing</a></li>
      <li><a class="subMenu_link" href="/solutions/transportation-and-logistics/">Transportation</a></li>
      <li><a class="subMenu_link" href="/solutions/manufacturing/">Manufacturing</a></li>
      <li><a class="subMenu_link" href="/solutions/energy/">Energy</a></li>
      <li><a class="subMenu_link" href="/solutions/pharma/">Pharma</a></li>
      <li><a class="subMenu_link" href="/solutions/chemical/">Chemical</a></li>
      <li><a class="subMenu_link" href="/solutions/food-and-beverage/">Food & Beverage</a></li>
    </ul>
  </li>
  <li>
    <p class="subMenu__header">By Technology</p>
    <ul>
      <li><a class="subMenu_link" href="/solutions/the-best-mqtt-broker-for-azure/">Azure Solution</a></li>
      <li><a class="subMenu_link" href="/solutions/the-leading-mqtt-broker-primed-for-google-cloud/">Google Cloud Solution</a></li>
      <li><a class="subMenu_link" href="/solutions/the-best-mqtt-broker-for-aws/">AWS Solution</a></li>
      <li><a class="subMenu_link" href="/solutions/technology/kafka-solution/">Kafka Solution</a></li>
      <li><a class="subMenu_link" href="/solutions/technology/security/">HiveMQ Security</a></li>
      <li><a class="subMenu_link" href="/solutions/technology/kubernetes">Kubernetes</a></li>
      <li><a class="subMenu_link" href="/solutions/technology/mqtt-sparkplug">MQTT Sparkplug</a></li>
    </ul>
  </li>
