<li>
  <ul>
    <li><a href="/hivemq/mqtt-broker" class="subMenu_link">HiveMQ Broker</a></li>
    <li><a href="/mqtt-cloud-broker" class="subMenu_link">HiveMQ Cloud</a></li>
    <li>&nbsp;</li>
    <li><a href="/hivemq-swarm" class="subMenu_link">HiveMQ Swarm</a></li>
    <li>&nbsp;</li>
    <li><a href="/hivemq/editions" class="subMenu_link">Editions</a></li>
    <li><a href="/pricing" class="subMenu_link">Pricing</a></li>
    <li><a href="/support" class="subMenu_link">Support</a></li>
    <li><a href="/services" class="subMenu_link">Services</a></li>
  </ul>
</li>
<li>
  <p class="subMenu__header"><a href="/extensions" class="subMenu_link">Extensions</a></p>
  <ul>
    <li><a href="/extension/hivemq-kafka-extension" class="subMenu_link">Apache Kafka</a></li>
    <li><a href="/extension/google-pub-sub-extension" class="subMenu_link">Google PubSub</a></li>
    <li><a href="/extension/amazon-kinesis-extension" class="subMenu_link">Amazon Kinesis</a></li>
    <li><a href="/extension/mongodb-extension" class="subMenu_link">MongoDB</a></li>
    <li><a href="/extensions" class="subMenu_link">More ...</a></li>
  </ul>
</li>
<li>
  <p class="subMenu__header">Open Source</p>
  <ul>
    <li><a href="/developers/community/#ce" class="subMenu_link">Community Edition</a></li>
    <li><a href="/developers/community/#mqtt-client" class="subMenu_link">MQTT Client</a></li>
    <li><a href="/developers/community/#mqtt-cli" class="subMenu_link">Command Line Interface</a></li>
    <li><a href="/developers/community/#hivemq-testcontainer" class="subMenu_link">Test Containers</a></li>
  </ul>
</li>
