<li>
  <ul>
    <li><a href="/blog" class="subMenu_link">Blog</a></li>
    <li><a href="/article" class="subMenu_link">Articles</a></li>
    <li><a href="/developers/white-papers" class="subMenu_link">Whitepapers</a></li>
    <li><a href="/ebook" class="subMenu_link">eBooks</a></li>
    <li><a href="/case-studies" class="subMenu_link">Case Studies</a></li>
  </ul>
</li>
<li>
  <ul>
    <li><a href="/developers/webinars/" class="subMenu_link">Webinars</a></li>
    <li><a href="/developers/#videos" class="subMenu_link">Videos</a></li>
    <li><a href="/events" class="subMenu_link">Events</a></li>
    <li><a href="/newsletter" class="subMenu_link">Newsletter</a></li>
    <li><a href="/data-sheets" class="subMenu_link">Data Sheets</a></li>
  </ul>
</li>
<li>
  <ul>
    <li><a href="https://docs.hivemq.com/hivemq/latest/user-guide/getting-started.html#get-started" class="subMenu_link">Getting Started</a></li>
    <li><a href="https://docs.hivemq.com/hivemq/latest/user-guide/introduction.html" class="subMenu_link">Documentation</a></li>
    <li><a href="/changelog" class="subMenu_link">Release Notes</a></li>
    <li><a href="https://community.hivemq.com/" class="subMenu_link" target="_blank">Forum</a></li>
  </ul>
</li>
