<li>
  <ul>
    <li><a href="/mqtt/mqtt-protocol" class="subMenu_link">MQTT Protocol</a></li>
    <li><a href="/public-mqtt-broker" class="subMenu_link">Public MQTT Broker</a></li>
    <li><a href="/mqtt-toolbox" class="subMenu_link">MQTT Client Tools</a></li>
    <li><a href="/mqtt-essentials/#glossary" class="subMenu_link">Glossary</a></li>
    <li><a href="/mqtt-essentials/#faq" class="subMenu_link">FAQ</a></li>
  </ul>
</li>
<li>
  <p class="subMenu__header">Guides</p>
  <ul>
    <li><a href="/mqtt-essentials" class="subMenu_link">MQTT Essentials</a></li>
    <li><a href="/mqtt-5" class="subMenu_link">MQTT 5</a></li>
    <li><a href="/mqtt-sparkplug-essentials" class="subMenu_link">MQTT Sparkplug</a></li>
    <li><a href="/mqtt-security-fundamentals" class="subMenu_link">MQTT Security</a></li>
    <li><a href="/mqtt-client-library-encyclopedia" class="subMenu_link">MQTT Client Library</a></li>
  </ul>
</li>