<footer>
<section id="footer-newsletter">
      <div class="nl">
            Sign up for our newsletter to keep up with the latest news about HiveMQ and MQTT.
      </div>
      <div class="nl hubspot-form">
            <!--[if lte IE 8]>
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
            <![endif]-->
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
            <script>
              hbspt.forms.create({
                region: "na1",
                portalId: "5867930",
                formId: "cbaa28b0-bea4-4357-888d-139f9209e47d"
            });
            </script>
      </div>
      <div id="footer-nl-consent" class="nl">
            <p class="container newsletter-consent">By clicking the <i>subscribe</i> button you give your consent to the
                  use of your data according to our <a href="/privacy-policy/">Privacy Policy</a>. You can withdraw
                  your consent at any time with future effect.
            </p>
      </div>
</section>
<script>
function checkBlog(){
      var blogURL = window.location.href.indexOf("/blog");
      if ( blogURL > -1 ) {
            document.getElementById('footer-newsletter').style.display = "none";
      }
}
checkBlog();
</script>
<section id="footer-nav">
      <div class="flex-7-col">
            <h3><a href="/hivemq/mqtt-broker">Product</a></h3>
            <ul>
                  <li><a href="/hivemq/mqtt-broker">HiveMQ</a></li>
                  <li><a href="/hivemq/features/">Features</a></li>
                  <li><a href="/hivemq/editions/">Editions</a></li>
                  <li><a href="/hivemq-swarm/">HiveMQ Swarm</a></li>
                  <li><a href="/extensions/">Marketplace</a></li>
                  <li><a href="/customers/">Customer Stories</a></li>
                  <li><a href="/whitepaper/achieving-200-mil-concurrent-connections-with-hivemq/">Benchmark Report</a></li>
                  <li><a href="/pricing/">Pricing</a></li>
                  <li><a href="/contact-sales/">Contact Sales</a></li>
            </ul>
      </div>
      <div class="flex-7-col">
            <h3><a href="/mqtt-cloud-broker/">Cloud</a></h3>
            <ul>
                  <li><a href="/mqtt-cloud-broker/">HiveMQ Cloud</a></li>
                  <li style="line-height: 30px;"><a href="https://console.hivemq.cloud/?utm_source=hivemq-com&utm_medium=footer-navigation&utm_campaign=cloud">Sign in</a></li>
            </ul>
      </div>
      <div class="flex-7-col">
            <h3><a href="/developers/">Developers</a></h3>
            <ul>
                  <li><a href="/developers/">Resources</a></li>
                  <li><a href="https://docs.hivemq.com/hivemq/latest/user-guide/getting-started.html#get-started">Getting Started</a></li>
                  <li><a href="https://docs.hivemq.com" target="_blank" >Documentation</a></li>
                  <li><a href="https://docs.hivemq.com/hivemq/"><img src="/img/svg/fa-level-up-w.svg" style="width: 16px; height: 12px;" alt="arrow icon"> HiveMQ</a></li>
                  <li><a href="https://docs.hivemq.com/hivemq-cloud/"><img src="/img/svg/fa-level-up-w.svg" style="width: 16px; height: 12px;" alt="arrow icon"> HiveMQ Cloud</a></li>
                  <li><a href="https://docs.hivemq.com/swarm/"><img src="/img/svg/fa-level-up-w.svg" style="width: 16px; height: 12px;" alt="arrow icon"> HiveMQ Swarm</a></li>
                  <li><a href="https://docs.hivemq.com/ese/"><img src="/img/svg/fa-level-up-w.svg" style="width: 16px; height: 12px;" alt="arrow icon"> Security Extension</a></li>
                  <li><a href="https://docs.hivemq.com/kafka/"><img src="/img/svg/fa-level-up-w.svg" style="width: 16px; height: 12px;" alt="arrow icon"> Kafka Extension</a></li>
                  <li><a href="https://docs.hivemq.com/bridge/"><img src="/img/svg/fa-level-up-w.svg" style="width: 16px; height: 12px;" alt="arrow icon"> Bridge Extension</a></li>
                  <li><a href="https://docs.hivemq.com/google-cloud-pubsub/"><img src="/img/svg/fa-level-up-w.svg" style="width: 16px; height: 12px;" alt="arrow icon"> Google Cloud Pub/Sub</a></li>
                  <li><a href="https://docs.hivemq.com/tracing/"><img src="/img/svg/fa-level-up-w.svg" style="width: 16px; height: 12px;" alt="arrow icon"> Distributed Tracing</a></li>
                  <li><a href="https://docs.hivemq.com/hivemq-amazon-kinesis-extension/"><img src="/img/svg/fa-level-up-w.svg" style="width: 16px; height: 12px;" alt="arrow icon"> Amazon Kinesis</a></li>
                  <li><a href="https://docs.hivemq.com/operator/"><img src="/img/svg/fa-level-up-w.svg" style="width: 16px; height: 12px;" alt="arrow icon"> Kubernetes Operator</a></li>
                  <li><a href="/developers/community/">Open Source</a></li>
                  <li><a href="/developers/webinars/">Webinars</a></li>
                  <li><a href="/newsletter/">Newsletter</a></li>
            </ul>
      </div>
      <div class="flex-7-col">
            <h3><a href="/mqtt/mqtt-protocol/">MQTT</a></h3>
            <ul>
                  <li><a href="/mqtt/mqtt-protocol/">Overview</a></li>
                  <li><a href="/mqtt-essentials#glossary">Glossary</a></li>
                  <li><a href="/mqtt-5/">MQTT 5 Essentials</a></li>
                  <li><a href="/mqtt-essentials/">MQTT Essentials</a></li>
                  <li><a href="/mqtt-sparkplug-essentials/">MQTT Sparkplug Essentials</a></li>
                  <li><a href="/buyers-guide/2023-buyers-guide-mqtt-platform-for-iot-iiot">MQTT Buyer´s Guide</a></li>
                  <li><a href="/unified-namespace-uns-essentials-iiot-industry-40/">UNS Essentials</a></li>
                  <li><a href="/mqtt-security-fundamentals/">MQTT Security</a></li>
                  <li><a href="/mqtt-client-library-encyclopedia/">MQTT Client Library</a></li>
                  <li><a href="/mqtt-toolbox/">MQTT Toolbox</a></li>
                  <li><a href="/public-mqtt-broker/" target="_blank">Public MQTT Broker</a></li>
                  <li><a href="/mqtt-essentials#faq">FAQ</a></li>
            </ul>
      </div>
      <div class="flex-7-col">
            <h3><a href="/solutions/">Solutions</a></h3>
            <ul>
                  <li><a href="/solutions/connected-cars/">Connected-Cars</a></li>
                  <li><a href="/solutions/automotive-manufacturing/">Automotive Manufacturing</a></li>
                  <li><a href="/solutions/transportation-and-logistics/">Transportation</a></li>
                  <li><a href="/solutions/manufacturing/">Manufacturing</a></li>
                  <li><a href="/solutions/energy/">Energy</a></li>
                  <li><a href="/solutions/pharma/">Pharma</a></li>
                  <li><a href="/solutions/chemical/">Chemical</a></li>
                  <li><a href="/solutions/food-and-beverage/">Food & Beverage</a></li>
                  <li style="font-size: 12px; text-decoration: underline;">Technology</li>
                  <li><a href="/solutions/the-best-mqtt-broker-for-azure/"><img src="/img/svg/fa-level-up-w.svg" style="width: 16px; height: 12px;" alt="arrow icon">Azure Solution</a></li>
                  <li><a href="/solutions/the-leading-mqtt-broker-primed-for-google-cloud/"><img src="/img/svg/fa-level-up-w.svg" style="width: 16px; height: 12px;" alt="arrow icon">Google Cloud Solution</a></li>
                  <li><a href="/solutions/the-best-mqtt-broker-for-aws/"><img src="/img/svg/fa-level-up-w.svg" style="width: 16px; height: 12px;" alt="arrow icon">AWS Solution</a></li>
                  <li><a href="/solutions/technology/kafka-solution/"><img src="/img/svg/fa-level-up-w.svg" style="width: 16px; height: 12px;" alt="arrow icon"> Kafka Solution</a></li>
                  <li><a href="/solutions/technology/security/"><img src="/img/svg/fa-level-up-w.svg" style="width: 16px; height: 12px;" alt="arrow icon"> HiveMQ Security</a></li>
                  <li><a href="/solutions/technology/kubernetes/"><img src="/img/svg/fa-level-up-w.svg" style="width: 16px; height: 12px;" alt="arrow icon"> Kubernetes</a></li>
                  <li><a href="/solutions/technology/mqtt-sparkplug/"><img src="/img/svg/fa-level-up-w.svg" style="width: 16px; height: 12px;" alt="arrow icon"> MQTT Sparkplug</a></li>
            </ul>
      </div>
      <div class="flex-7-col">
            <h3><a href="/blog/">Blog</a></h3>
            <ul>
                  <li><a href="/blog/seven-best-mqtt-client-tools/">MQTT Client Tools</a></li>
                  <li><a href="/blog/mqtt-essentials-part-1-introducing-mqtt/">MQTT Introduction</a></li>
                  <li><a href="/blog/how-to-get-started-with-mqtt/">Get started with MQTT</a></li>
                  <li><a href="/blog/mqtt-essentials-part2-publish-subscribe/">Publish and Subscribe</a></li>
            </ul>
      </div>
      <div class="flex-7-col">
            <h3><a href="/company/">Company</a></h3>
            <ul>
                  <li><a href="/company/">About us</a></li>
                  <li><a href="/logos-and-media-kit">Logos & Media Kit</a></li>
                  <li><a href="/news/">News</a></li>
                  <li><a href="/events/">Events</a></li>
                  <li><a href="/partners/">Partners</a></li>
                  <li><a href="/career/" >Career</a></li>
                  <li><a href="/contact/">Contact</a></li>
                  <li><a href="/services/">Services</a></li>
                  <li><a href="/support/">Support</a></li>
            </ul>
      </div>
      <div class="flex-7-col">
            <h3><a href="/downloads/">Try HiveMQ</a></h3>
            <ul>
                  <li><a href="/downloads/hivemq/">Download HiveMQ</a></li>
                  <li><a href="/downloads/docker/">Docker</a></li>
                  <li><a href="/downloads/aws/">AWS</a></li>
            </ul>
            <!-- Begin SF Tag -->
            <div class="sf-root" data-id="3556813" data-badge="light-default" data-variant-id="sf" style="width:75%">
                  <a href="https://sourceforge.net/software/product/HiveMQ/" target="_blank">HiveMQ Reviews</a>
            </div>
            <script>(function () {var sc=document.createElement('script');sc.async=true;sc.src='https://b.sf-syn.com/badge_js?sf_id=3556813&variant_id=sf';var p=document.getElementsByTagName('script')[0];p.parentNode.insertBefore(sc, p);})();
</script>
            <!-- End SF Tag -->
      </div>
</section>
<hr class="clearfix">
<div id="footer-info">
      <div class="flex-4-col"><b>HiveMQ GmbH</b><br/>Postplatz 397,<br/> 84028 Landshut<br />Bavaria, Germany<br/></div>
      <div class="flex-8-col" id="footer-social">
            Follow us on<br/>
            <div><a href="https://www.github.com/HiveMQ" target="_blank" rel="noopener" ><img src="/img/svg/fa-github.svg" style="width: 36px; height: 36px;" class="social-icon" alt="HiveMQ on Github"></a></div>
            <div><a href="https://www.youtube.com/channel/UCiquDynjDdcSDuhdoE4vy1w" target="_blank" rel="noopener"><img src="/img/svg/fa-youtube.svg" style="width: 36px; height: 36px;" class="social-icon" alt="HiveMQ on YouTube"></a></div>
            <div><a href="https://www.linkedin.com/company/hivemq-gmbh/" target="_blank" rel="noopener"><img src="/img/svg/fa-linkedin.svg" style="width: 36px; height: 36px;" class="social-icon" alt="HiveMQ on Linkedin"></a></div>
            <div><a href="https://www.twitter.com/HiveMQ" target="_blank" rel="noopener"><img src="/img/svg/fa-twitter.svg" style="width: 36px; height: 36px;" class="social-icon" alt="HiveMQ on Twitter"></a></div>
            <div><a href="https://www.facebook.com/HiveMQ" target="_blank" rel="noopener"><img src="/img/svg/fa-facebook.svg" style="width: 36px; height: 36px;" class="social-icon" alt="HiveMQ on facebook"></a></div>
            <div>{{ with .OutputFormats.Get "rss" -}}
                  {{ printf `<a href="%s"><img src="/img/svg/fa-rss.svg" style="width: 36px; height: 36px;" class="social-icon" alt="RSS Logo"></a>` .Permalink | safeHTML }}
            {{ end }}
            </div>
      </div>
</div>
<div id="lastline">&copy; {{ now.Format "2006" }} HiveMQ GmbH&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/imprint/">Legal note</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/legal-documents/">Legal Documents</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/privacy-policy/">Privacy Policy</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/public.pgp">PGP</a></div>
</footer>
